:root {
  --logo-color: #000000;
  --title-color: #212121;
  --text-color: #757575;
  --white-color: #ffffff;
  --accent-color: #2196f3;
  --secondary-color: #2f303a;
  --background-color: #f5f4fa;
}

body {
  background-color: var(--white-color);
  color: var(--text-color);
  font-family: Roboto, sans-serif;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

/* Logo */
.logo-header {
  color: var(--logo-color);
  font-family: Raleway, sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
}

.web {
  color: var(--accent-color);
  font-family: Raleway, sans-serif;
}

/* Site nav */
.site-nav a {
  color: var(--title-color);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
}

.site-nav a:hover,
.site-nav a:focus,
.contacts a:hover,
.contacts a:focus {
  color: var(--accent-color);
}

/* Contacts */
.contacts a {
  color: var(--text-color);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
}

/* Стили для index.html */

/* Hero */
.hero-title {
  background-color: var(--secondary-color);
  color: var(--white-color);
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
}

/* Button */
.button {
  background-color: var(--accent-color);
  color: var(--white-color);
  cursor: pointer;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
}

/* Features */
.features-title {
  color: var(--title-color);
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
}

.features-text {
  color: var(--text-color);
  font-size: 14px;
  line-height: 1.71;
}

.hide {
  visibility: hidden;
}

/* Type of work */
/* Team */
.title {
  color: var(--title-color);
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
}

.employee {
  color: var(--title-color);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;
  text-align: center;
}

.text {
  color: var(--text-color);
  font-size: 16px;
  line-height: 1.18;
  text-align: center;
}

/* Стили для portfolio.html*/

/* Portfolio buttons */
.filter {
  background-color: var(--background-color);
  color: var(--title-color);
  cursor: pointer;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  letter-spacing: 0.03em;
}

.filter :hover,
.filter :focus {
  background-color: var(--accent-color);
  color: var(--white-color);
  cursor: pointer;
}

/* Portfolio */
.portfolio-title {
  color: var(--title-color);
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}

portfolio-text {
  color: var(--text-color);
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.03em;
}

/* Footer */
footer {
  background-color: var(--secondary-color);
}

.logo-footer {
  color: var(--white-color);
  font-family: Raleway, sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
}

.location {
  color: var(--white-color);
  font-style: normal;
  font-size: 14px;
  line-height: 1.71;
}

.contacts a {
  color: var(--text-color);
  font-style: normal;
  font-size: 14px;
  line-height: 1.71;
}
